In [34]:
import pandas as pd

df_crashes = pd.read_csv("../data/raw/traffic_crashes.csv")
df_crashes.head()

                                       crash_record_id     rd_no  \
0    530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...  JE494048
1    305b06235b250aa0029c07313c84f969f4bc13c1cc3715...  JE494008
2    444221c2a9bc82fc4f301062ab22b482d7d661cf88fcdf...  JE494016
3    4603435fbb4ef5d45c0d805c3e9aa5558a311a140a737e...  JE494049
4    db62bb4534d0dae57112ea3ff8d50193784aaa732ed58d...  JE494000
..                                                 ...       ...
995  e18f871e1a58bc6029bb06ebc2970f0a3daa26878da737...  JE490031
996  3ba14e3e148a09331ede83eae1cd04ae8015c7d7317933...  JE489751
997  c279f1b96a29c26d65381deb667760cbd21955dbf15a3b...  JE489753
998  c2920855959a0363eb73fe97e691c33d7d4a1282e5ca3c...  JE489738
999  db91a08a8886d5d698a6323ab86cf13f417601e3a34410...  JE489956

    crash_date_est_i               crash_date  posted_speed_limit  \
0                NaN  2021-12-31T14:00:00.000                  35
1                NaN  2021-12-31T14:00:00.000                  30
2                  Y  2021-12-31T13:56:00.000                  10
3                NaN  2021-12-31T13:46:00.000                  30
4                NaN  2021-12-31T13:45:00.000                  30
..               ...                      ...                 ...
995              NaN  2021-12-27T03:00:00.000                  30
996              NaN  2021-12-27T02:43:00.000                  30
997              NaN  2021-12-27T02:35:00.000                  30
998              NaN  2021-12-27T02:05:00.000                  30
999                N  2021-12-27T02:00:00.000                  20

    traffic_control_device      device_condition weather_condition  \
0              NO CONTROLS           NO CONTROLS             CLEAR
1           TRAFFIC SIGNAL               UNKNOWN             CLEAR
2                    OTHER           NO CONTROLS             CLEAR
3              NO CONTROLS           NO CONTROLS              RAIN
4           TRAFFIC SIGNAL  FUNCTIONING PROPERLY             CLEAR
..                     ...                   ...               ...
995            NO CONTROLS           NO CONTROLS             CLEAR
996            NO CONTROLS           NO CONTROLS              RAIN
997            NO CONTROLS           NO CONTROLS              RAIN
998         TRAFFIC SIGNAL  FUNCTIONING PROPERLY              RAIN
999            NO CONTROLS           NO CONTROLS             CLEAR

         lighting_condition          first_crash_type  ...  \
0                  DAYLIGHT                   TURNING  ...
1                      DUSK                   TURNING  ...
2                  DAYLIGHT  SIDESWIPE SAME DIRECTION  ...
3                  DAYLIGHT              PEDALCYCLIST  ...
4                  DAYLIGHT  SIDESWIPE SAME DIRECTION  ...
..                      ...                       ...  ...
995                DARKNESS      PARKED MOTOR VEHICLE  ...
996  DARKNESS, LIGHTED ROAD      PARKED MOTOR VEHICLE  ...
997  DARKNESS, LIGHTED ROAD                   HEAD ON  ...
998  DARKNESS, LIGHTED ROAD                   TURNING  ...
999                DARKNESS      PARKED MOTOR VEHICLE  ...

    injuries_non_incapacitating  injuries_reported_not_evident  \
0                           0.0                            0.0
1                           0.0                            0.0
2                           0.0                            0.0
3                           1.0                            0.0
4                           0.0                            0.0
..                          ...                            ...
995                         0.0                            0.0
996                         0.0                            0.0
997                         0.0                            0.0
998                         0.0                            0.0
999                         0.0                            0.0

    injuries_no_indication injuries_unknown crash_hour crash_day_of_week  \
0                      2.0              0.0         14                 6
1                      2.0              0.0         14                 6
2                      2.0              0.0         13                 6
3                      2.0              0.0         13                 6
4                      2.0              0.0         13                 6
..                     ...              ...        ...               ...
995                    1.0              0.0          3                 2
996                    1.0              0.0          2                 2
997                    3.0              0.0          2                 2
998                    5.0              0.0          2                 2
999                    1.0              0.0          2                 2

    crash_month   latitude  longitude  \
0            12  41.794850 -87.767280
1            12  41.881271 -87.686536
2            12  41.722941 -87.662863
3            12  41.766336 -87.578270
4            12  41.751150 -87.607802
..          ...        ...        ...
995          12  41.698569 -87.611232
996          12  41.730477 -87.604526
997          12  41.776597 -87.800737
998          12  41.786849 -87.649597
999          12  41.754274 -87.652228

                                     location
0    POINT (-87.767280356289 41.794849958048)
1    POINT (-87.686535940171 41.881270504288)
2     POINT (-87.662862871273 41.72294121821)
3    POINT (-87.578269718478 41.766335621716)
4      POINT (-87.607802036151 41.7511501753)
..                                        ...
995  POINT (-87.611232060214 41.698569491978)
996   POINT (-87.60452647942 41.730477045277)
997  POINT (-87.800737032626 41.776596857678)
998  POINT (-87.649597372418 41.786849266252)
999  POINT (-87.652228044019 41.754274349584)

[1000 rows x 49 columns]

In [30]:
import pandas as pd
df_vehicles = pd.read_csv("../data/raw/traffic_crash_vehicle.csv")
df_vehicles.head()

,crash_unit_id,crash_record_id,rd_no,crash_date,unit_no,unit_type,num_passengers,vehicle_id,cmrc_veh_i,make,...,trailer1_length,trailer2_length,total_vehicle_length,axle_cnt,vehicle_config,cargo_body_type,load_type,hazmat_out_of_service_i,mcs_out_of_service_i,hazmat_class
0,1255349,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,1,DRIVER,NaN,1191605.0,NaN,DODGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1255350,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,2,DRIVER,NaN,1191608.0,NaN,KIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1255351,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,3,PARKED,NaN,1191614.0,NaN,CHRYSLER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1255367,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,2021-12-31T14:00:00.000,1,DRIVER,NaN,1191620.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1255368,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,2021-12-31T14:00:00.000,2,DRIVER,NaN,1191622.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
import pandas as pd
df_crashes = pd.read_csv("../data/raw/traffic_crashes.csv")
df_vehicles = pd.read_csv("../data/raw/traffic_crash_vehicle.csv")

merged_df = df_crashes.merge(df_vehicles, on='crash_record_id', how='left', suffixes=('_left', '_right'))
df_agg = merged_df.groupby('vehicle_type').agg({"crash_record_id": "count"}).reset_index()

df_agg_mapping = ({"vehicle_type" : "vehicleType"})
df = df_agg.rename(columns=df_agg_mapping)

print(df)

number_of_passenger_cars_involved = df[df['vehicleType'] == 'PASSENGER']['crash_record_id'].array[0]
print(number_of_passenger_cars_involved)

                       vehicleType  crash_record_id
0                BUS OVER 15 PASS.                5
1       MOPED OR MOTORIZED BICYCLE                1
2                            OTHER               20
3       OTHER VEHICLE WITH TRAILER                1
4                        PASSENGER              633
5                           PICKUP               33
6   SINGLE UNIT TRUCK WITH TRAILER                2
7      SPORT UTILITY VEHICLE (SUV)              138
8          TRACTOR W/ SEMI-TRAILER                5
9         TRACTOR W/O SEMI-TRAILER                2
10             TRUCK - SINGLE UNIT               14
11                      UNKNOWN/NA               89
12                    VAN/MINI-VAN               38
633

In [28]:

import pandas as pd

df_crashes = pd.read_csv("../data/raw/traffic_crashes.csv")
df_crashes.head()

df_crashes.dropna(axis='columns', how='all', inplace=True)
df_crashes.dropna(axis='index', thresh=5, inplace=True)

# df_crashes.info()
# df_crashes['report_type'].unique()

,crash_unit_id,crash_record_id,rd_no,crash_date,unit_no,unit_type,num_passengers,vehicle_id,cmrc_veh_i,make,...,trailer1_length,trailer2_length,total_vehicle_length,axle_cnt,vehicle_config,cargo_body_type,load_type,hazmat_out_of_service_i,mcs_out_of_service_i,hazmat_class
0,1255349,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,1,DRIVER,NaN,1191605.0,NaN,DODGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1255350,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,2,DRIVER,NaN,1191608.0,NaN,KIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1255351,305b06235b250aa0029c07313c84f969f4bc13c1cc3715...,JE494008,2021-12-31T14:00:00.000,3,PARKED,NaN,1191614.0,NaN,CHRYSLER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1255367,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,2021-12-31T14:00:00.000,1,DRIVER,NaN,1191620.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1255368,530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa...,JE494048,2021-12-31T14:00:00.000,2,DRIVER,NaN,1191622.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
import pandas as pd

df_crashes = pd.read_csv("../data/raw/traffic_crashes.csv")
df_crashes.isnull().sum()

crash_record_id                     0
rd_no                               0
crash_date_est_i                  931
crash_date                          0
posted_speed_limit                  0
traffic_control_device              0
device_condition                    0
weather_condition                   0
lighting_condition                  0
first_crash_type                    0
trafficway_type                     0
lane_cnt                          999
alignment                           0
roadway_surface_cond                0
road_defect                         0
report_type                        24
crash_type                          0
intersection_related_i            729
private_property_i                955
hit_and_run_i                     680
damage                              0
date_police_notified                0
prim_contributory_cause             0
sec_contributory_cause              0
street_no                           0
street_direction                    0
street_name                         0
beat_of_occurrence                  0
photos_taken_i                    985
statements_taken_i                978
dooring_i                        1000
work_zone_i                       996
work_zone_type                    997
workers_present_i                 999
num_units                           0
most_severe_injury                  2
injuries_total                      2
injuries_fatal                      2
injuries_incapacitating             2
injuries_non_incapacitating         2
injuries_reported_not_evident       2
injuries_no_indication              2
injuries_unknown                    2
crash_hour                          0
crash_day_of_week                   0
crash_month                         0
latitude                           13
longitude                          13
location                           13
dtype: int64